<server description="default servlet engine">

    <!-- Enable features -->
    <featureManager>
        <feature>servlet-3.0</feature>
        <feature>localConnector-1.0</feature>
        <feature>jsp-2.2</feature>
    </featureManager>
    
    <httpEndpoint httpPort="9122" id="defaultHttpEndpoint"/>
    

    <applicationMonitor updateTrigger="mbean"/>

    <webApplication contextRoot="ServletApp" id="Basic Helloworld Servlet" location="Basic Helloworld Servlet.war" name="Basic Helloworld Servlet"/>

    <webApplication id="new-hibernate-osi-app" location="new-hibernate-osi-app.war" name="new-hibernate-osi-app"/>

    <webApplication id="new2-hibernate-osi-app" location="new2-hibernate-osi-app.war" name="new2-hibernate-osi-app"/>

    <webApplication id="new3-hibernate-osi-app" location="new3-hibernate-osi-app.war" name="new3-hibernate-osi-app"/>

    <webApplication id="new-hibernate-osi-m2ewtp" location="new-hibernate-osi-m2ewtp.war" name="new-hibernate-osi-m2ewtp"/>
</server>